Source: go-daemon
Section: utils
Priority: optional
Maintainer: Alexandre Fiori <fiorix@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://github.com/fiorix/go-daemon

Package: go-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Daemonize other programs
 Go daemon (or just "god") is a command line tool to
 "daemonize" programs that originally only run in
 foreground and write logs to the console.
